<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<%= roomId %>"
  </script>
  <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="script.js" defer></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/c939d0e917.js" defer></script>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>Capstone</title>
</head>
<body>
  <div class='main'>
    <div class="main__left">
      <div class="main__videos">

          <!--<input type="button" value="開始播放" onclick="Control('start');">
          <input type="button" value="暫停播放" onclick="Control('stop');">-->

         <div id="video-grid">
          
         </div>

          
          <div id="Movie"  hidden autoplay><video id="MovieShow" controls>
            <source src="movie/house.mp4" type="video/ogg">
            </video></div><br>

        <div id="lyric-bar"></div> <!--歌詞尚未-->
      </div>

      <div class="main__controls">
        <div class="main__controls__block">
          <div onclick="muteUnmute()" class="main__controls__button main__mute_button">
             <i class="fas fa-microphone"></i>
             <span>Mute</span>
          </div>
          <div onclick="playStop()" class="main__controls__button main__video_button" >
             <i class="fas fa-video"></i>
             <span>Stop Video</span>
          </div>

          <div onclick="Control('start');" class="main__controls__button main__muisc_button" >
            <i class="fas fa-music"></i>
            <span>Music</span>
          </div>

          <div onclick="Control('stop');" class="main__controls__button main__muisc_button" >
            <i class="fas fa-music"></i>
            <span>Stop Music</span>
          </div>

        <!-- <div onclick="playStopMusic(x)" class="main__controls__button main__muisc_button" >
          <i class="fas fa-music"></i>
          <span>Music</span>
         </div>-->

          <!--
            <div class="main__controls__button">
               <i class="fas fa-shield-alt"></i>
               <span>Security</span>
            </div>
            <div class="main__controls__button">
               <i class="fas fa-user-friends"></i>
               <span>Participants</span>
            </div>
            <div class="main__controls__button">
               <i class="fas fa-comment-alt"></i>
               <span>Chat</span>
            </div>
         </div>
                  </div>-->
            <div onclick="leave_room()" class="main__controls__button">
               <span class="leave_meeting">Leave</span>
            </div>
<!-------------------------------------------------------------------------------------------------------------->
       </div>
      </div>
    </div>

    <div class="main__right">
      <div class="main__header">
        <h6>Chat room</h6>
      </div>
      <div class="main__chat_window">
         <ul class="messages">
           <div id="message-container"></div>
         </ul>
      </div>
      <div class="main__message_container">
        <button type="love" id="love-button"><i class="fas fa-heart"></i></button>
        <form id="send-container">
          <button type="submit" id="send-button"><i class="fas fa-arrow-right"></i></button>
          <input type="text" id="chat_message" placeholder="Type message here..." >
        </form>
      </div>
    </div>
  </div>
</body>
</html>