.body{
    margin: 0%;
    padding: 0%;
   /* width: auto;*/
   /* height: auto;*/
    font: normal 100% Helvetica, Arial, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-size: cover;
}

.main {
    height: 100vh;
    /*display: flex;*/
    background-size: cover;
}

.main__left {
    flex: 0.6;
    display: flex;
    flex-direction: column;
    /*float: left;*/
    flex-wrap: wrap;
    overflow: auto;
}
.main__right {
    flex: 0.4;
    background-color: #1f1a1ac9;
    border-left: 1px solid #000000;
    display: flex;
    flex-direction: column;
    object-fit: cover;
}

.main__videos {
    flex-grow: 1;
    background-color: #242324;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40pt;

    /*濾鏡-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
   /* filter: grayscale(50%);*/
   
}
#video-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
video {
    border :3px solid #686767;
    height: 22.5%;
    width: 40%;
    max-height: 500;
    object-fit: cover;
    /*filter:sepia(2);*/
    /*filter:hue-rotate(90deg);
   /* clip-path: polygon(25% 0, 0 100%, 100% 51%);切割*/
    /* animation: pulse 5s linear infinite;*/

}
                /*@keyframes pulse {
                    from { filter: hue-rotate(0); }
                    to { filter: hue-rotate(360deg); }
                }  RGB特效*/

.main__header {
    padding-top: 5px;
    color: #ffffff;
    text-align: center;
}
.main__chat_window { 
    flex-grow: 1;
    overflow-y: scroll; 
    background-color: #242324;
    border: 1px solid black;
    width:auto;
    height:400px;
    word-break: break-all;
}
.messages{
    color: rgb(255, 255, 255);
    padding-right: 11%;
    list-style: none;
}
.main__message_container {
   /* padding: 22px 12px;*/
    display: flex;
    padding: 0.1% 0.1%;
    overflow: auto;
}
.main__message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-family:serif;
}

.main__controls {
    background-color: #1C1E20;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 1%;
}
.main__controls__block {
    display: flex;
}
.main__controls__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*padding: 8px 10px;*/
    padding: auto;
    min-width: 80px;
    cursor: pointer;
}
.main__controls__button:hover {
    background-color: #343434;
    border-radius: 5px;
}
.main__controls__button i {
    font-size: 24px;
}
.leave_meeting {
    color: #EB534B;
}
.unmute, .stop {
    color: #CC3B33;
}

.main__send_thing__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*padding: 8px 10px;*/
    padding: auto;
    min-width: 30px;
    cursor: pointer;
}

.Movie{
    border :3px solid #686767;
    height: 22.5%;
    width: 40%;
    backface-visibility: hidden;
} 

.container {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 2em;
    filter: contrast(20);
    background-color: transparent;
    overflow: hidden;
}

h1 {
    font-family: Righteous;
    color: white;
    font-size: 4rem;
    text-transform: uppercase;
    line-height: 1;
    animation: letterspacing 5s infinite alternate ease-in-out;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    letter-spacing: -2.2rem;
}

@keyframes letterspacing {
    0% {
        letter-spacing: -2.2rem;
        filter: blur(.3rem);
    }

    50% {
        filter: blur(.5rem);
    }

    100% {
        letter-spacing: .5rem;
        filter: blur(0rem);
        color: #fff;
    }
}
